/** Header Bar styles */

.header-bar {
    background-color: $UPVBlue;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        color: $UPVWhite;
        text-decoration: none;
        display: block;
        padding: 0.35rem 0;
    }
}