/** Current show */

.current-show {
    padding: 1rem;
    background-color: $UPVBlue;
    text-align: center;
    a {
        color: $UPVWhite;
        text-decoration: none;
        font-size: 0.75rem;
    }
}
.single-show .container {
    padding: 2%;
    background-color: $UPVWhite;
    color: $UPVDarkGrey;
}
.single-show > img {
    width: 100%;
}