/** Footer styles */

.footer__sidebar-socialmedia {
    display: flex;
    justify-content: space-between;
    width: 98%;

    a {
        border-radius: 50%;
        border: 2px solid white;
        width: 1rem;
        height: 1rem;
        padding: 1.25rem;

        svg {
            position: relative;
        }

        &.socialmedia__facebook svg {
            top: -.70rem;
            left: -0.35rem;
        }

        &.socialmedia__twitter svg {
            top: -.70rem;
            left: -0.5rem;
        }

        &.socialmedia__instagram svg {
            top: -.70rem;
            left: -0.5rem;
        }

        &.socialmedia__youtube svg {
            top: -.70rem;
            left: -0.6rem;
        }

        &:hover {
            background-color: $UPVBlue;
        }
    }
}