/** Hero component */

.hero {
    position: relative;

    &__main {
        display: none;
        overflow: hidden;
        position: relative;

        @include screen-greater-than(tablet) {
            display: block;

            .hero-image {
                width: 100%;
            }
        }
    }

    &__text-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        animation: MoveUp 1s linear;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        animation-delay: 2s;
        animation-fill-mode: forwards;
    }

    @keyframes MoveUp {
        0% {
            top: 100%;
        }

        100% {
            top: 0;
        }
    }

    &__upv {
        display: flex;
        position: absolute;
        bottom: 4rem;
        justify-content: space-between;
        padding: 0px 2%;


        &-statement {
            color: $UPVWhite;
            width: 60%;
        }

        &-logo {
            display: flex;
            justify-content: flex-end;
            width: 40%;

            img {
                width: 100%
            }
        }
    }

    &__mobile {
        @include screen-greater-than(tablet) {
            display: none;
        }

        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        background-color: $UPVDarkGrey;

        &--logo {
            width: 50%;
            margin: 0 auto;

            img {
                width: 100%;
            }
        }

        &--statement {
            font-size: 1rem;
            padding-left: 2%;
            padding-right: 2%;

            h1 {
                display: inline;
            }
        }
    }

}


// &-image {
//     width: 100%;
// }
// &__show {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;  
//     z-index: 1;      
//     a {
//         display: block;
//         width: 100%;
//         height: 100%;
//         color: $UPVWhite; 
//         text-decoration: none;       
//     }
//     &--text {
//         position: absolute;
//         top: 1vw;
//         right: 5%;
//         font-size: 1.5vw;
//     }
// }
// &__upv {
//     position: absolute;
//     top: 50%;
//     left: 5%;
//     justify-content: space-between;
//     width: 90%;
//     display: flex;
//     color: $UPVWhite;
//     &-statement {
//         width: 48%;
//         h1 {
//             display: inline;
//         }
//     }
//     &-logo {
//         width: 48%;
//         display: flex;
//         justify-content: flex-end;
//         img {
//             width: 15vw;
//             height: 15vw;
//         }
//     }
// }