/** Global settings */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
}

/** Colours */
/** Fonts */
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Regular.woff2") format("woff2"), url("../../assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Italic.woff2") format("woff2"), url("../../assets/fonts/Roboto-Italic.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Bold.woff2") format("woff2"), url("../../assets/fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("../../assets/fonts/Oswald-Regular.woff2") format("woff2"), url("../../assets/fonts/Oswald-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("../../assets/fonts/Oswald-SemiBold.woff2") format("woff2"), url("../../assets/fonts/Oswald-SemiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Roboto", sans-serif;
}

/** Typography */
body {
  color: #999999;
  font-size: 1.2rem;
  line-height: 1.75rem;
}

p.copyright {
  font-size: 0.85rem;
}

/** Variables for site */
/** Breakpoints */
/** Structure styles aggregator */
/** General Structure styles */
.max-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

/** Structure Breakpoint styles */
/** 	Mixins */
/**
Function to wrap appropriate media query around content
param: screen size, either tablet or desktop 
Requires breakpoints to be set or imported
*/
/** Components styles aggregator */
/** Container styles */
.container {
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #222222;
  background-size: 20px 20px;
}

/** Header Bar styles */
.header-bar {
  background-color: #00a4b0;
  height: 2.25rem;
  text-align: center;
  padding-top: 0.5rem;
}
.header-bar a {
  color: #ffffff;
  text-decoration: none;
}

/** Footer styles */
.footer {
  background-color: #222222;
  font-size: 0.85rem;
}
.footer_column-wrapper {
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer_column-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer_column-wrapper--two {
    width: 300px;
  }
}
.footer_acknowledgement {
  padding: 0.25rem;
}

/** Styling for Theatre Address/Map */
.footer__address {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__address {
    flex-direction: row;
  }
  .footer__address div {
    width: 50%;
  }
}

/** Navigation styles */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.25rem;
  max-width: 500px;
  margin: 0 auto;
}
nav a {
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;
}
nav a.active {
  color: #00a4b0;
}

/*# sourceMappingURL=style.css.map */
