/** Structure Breakpoint styles */

$break-large: 	1150px;
$break-medium: 	992px;
$break-small: 	768px;
$break-mini: 	576px;


$Maximume:   	1150px;
$Desktop: 	    992px;
$Tablet: 	    768px;
$Mobile:     	576px;