/** Blocks styles */

body {
    background-color: $UPVGrey;
}

.footer {

    background-color: $UPVDarkBlue;
    padding: 3% 5% 3% 8%;

    &-wrapper {
        display: flex;
        // justify-content: space-between;
        flex-direction: column;
    }

    &__main {
        width: 98%;
    }
}