/** Colours */

$UPVGrey: #444444;
$UPVLightGrey: #999999;
$UPVDarkGrey: #222222;
$UPVBlack: #000000;
$UPVWhite: #ffffff;
$UPVBlue: #00a4b0;
$UPVDarkBlue: #000d0e;
$UPVGold: #EC9A29;
$UPVRed: #a8201a;
$UPVGreen: #80ed99;
