/** Show Details style */

.show-details {
    line-height: 1.5rem;
    p {
        margin-top: 0.3rem;
        margin-bottom: 0;
    }
    span {
        font-weight: bold;
    }
}

.show-dates__list {
    padding-left:0;
}

.show-date {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: $UPVLightGrey;
    border-bottom: 2px solid $UPVDarkGrey;
    padding-right:5%;
    height: 3rem;
    &:hover {
        background-color: $UPVBlue;
    }
    &__select {
        width: 10%;
    }
    &__date {
        width: 50%;
    }
    &__notes {
        width: 35%;
        font-size: 1rem;
    }
}